<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button default-href=" /detail "></ion-back-button>
    </ion-buttons>
    <ion-title>Move Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="move">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-uppercase">{{ move.name | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Type: {{ move.type.name | titlecase }}</h2>
      <h2>Power: {{ move.power }}</h2>
      <h2>PP: {{ move.pp }}</h2>
      <h2>Accuracy: {{ move.accuracy }}</h2>
      <h2>Effect: {{ move.effect_entries[0].effect }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
