<ion-header [translucent]="true">
  <ion-toolbar *ngIf="pokemon">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{pokemon.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="pokemon">
    <ion-card-content>
      <div class="pokemon-img">
        <img
          style="height: 250px"
          [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png'"
          alt="{{ pokemon?.name}}"
        />
      </div>
      <h1>Stats</h1>
      <ion-list>
        <ion-item *ngFor="let stat of pokemon.stats">
          <ion-label class="ion-text-uppercase">{{ stat.stat.name | titlecase }}</ion-label>
          <ion-badge slot="end">{{ stat.base_stat }}</ion-badge>
        </ion-item>
      </ion-list>
      <h1>Abilities</h1>
      <ion-list>
        <ion-item *ngFor="let ability of pokemon?.abilities">
          <div class="ion-text-uppercase"> {{ability.ability.name | titlecase}} </div>
        </ion-item>
      </ion-list>
      <div>
        <h1>Moves</h1>
        <ion-list>
          <ion-item button detail="true" *ngFor="let move of pokemon.moves" (click)="moveDetail(move.move.name)">
            <ion-label class="ion-text-uppercase">{{ move.move.name | titlecase }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
