<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-grid>
      <ion-row class="ion-justify-between">
        <ion-col>
          <ion-title> Poke List </ion-title>
        </ion-col>
        <ion-col class="ion-text-end">
          <ion-title>
            <ion-toggle
              color="dark"
              [(ngModel)]="paletteToggle"
              (ionChange)="toggleChange($event)"
            ></ion-toggle>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    placeholder="Search Pokemon (recommended by id)"
    [(ngModel)]="findPokemon"
    (ionInput)="handleInput($event)"
  ></ion-searchbar>

  <ion-list inset="true" *ngFor="let pokemon of pokemons">
    <button>
      <ion-item button detail="true" (click)="detailpage(pokemon.id)">
        <ion-avatar slot="start">
          <img
            [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png'"
            alt="{{ pokemon.name }}"
          />
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{ pokemon.name }}</h2>
          <p>#{{pokemon.id}}</p>
        </ion-label>
      </ion-item>
    </button>
  </ion-list>

</ion-content>
